*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x	;
}

#container{
	width: 750px;
	margin: 0 auto;

}
#topo{
	height: 150px;
	background: url(../imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;

}
.logo{
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat left top;
	text-indent: -3000px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left ;


}
#topo ul .primeiro a{
	background: none;

}
#topo ul a:hover{
	color: #69001d;


}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.fotos #navegacao a#fotos{
	color: #fff;
	background: #ed9b02;
	cursor: text;
}
#conteudo{
	background: #f5f5f5;
	margin-top: 60px;
}


#primario{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
}
#duasColuna #primario{
	width: 555px;
}
#umaColuna #primario{
	width: 750px;
	margin: 0 0 20px 0;
}
#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}
#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}
#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover{
	color: #fff;
	background: #2d88eb url(../imagens/marcador.png)no-repeat left;
	padding-left: 20px;
}


#noticias li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 65px;

}
#noticias li a img{
float: left;
margin: 5px;
}
#noticias li a{
	text-decoration: none;

}
#noticias li:hover,
#noticias li a:hover,
#noticias li a h3:hover{
	background: black;
	color: #fff;

}
#noticias li a h3{
	font-size: 0.8em;
	padding: 0;
	color: #03a1fc;

}
#noticias li a p{
	font-size: 0.7em;

}

.caixaConteudo{
	background: #f8fae3;
	padding: 5px;
}
.caixa{
	margin: 10px 0;
	padding: 5px;
	background: #f8fae3 url(../imagens/fundo-caixa.png);
}
h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}
h3.destacar{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
	background: #870529;
	color: #fff;

}
h2{
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}
img.img-principal{
	border: 2px solid #dfdfdf;
	border-radius: 10px;

}
img.sombra{
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.40);
}


label{
	display: block;
	cursor: pointer;
}
input{
	padding: 5px;
	font-size: 0.9em;
	background: #FFF;
	width: 125px;
}
input.submit{
	margin: 2px 0 0 60px;
	padding: 5px;
	width: 80px;
	color: #FFF;
	background-color: #870529;
	border: solid 2px #870539;
	cursor: pointer;

}


#rodape{
	background: #294c71;
	padding: 20px;
	color: #fff;
	text-align: center;
}